section {
  &.blurbs {
    margin-top: 250px;
    min-height: 350px;

    h1.ui.header {
      font-family: Montserrat, sans-serif;
      font-weight: 700;
    }

    h2.ui.header {
      font-weight: 100;
    }
  }

  &.status-modules {
    padding: 20px;
    @include background-pattern(gplaypattern);
  }
}

.counter {
  display: block;
  text-align: center;
  color: $peter-river;

  &.large {
    font-size: 32px;
  }
}