.twitter-status {
  p {
    &.content {
      color: #fff;
    }

    &.metadata {
      span {
        &.time {
          color: #ccc;
        }
        &.location {
          color: #ddd;
          margin-left: 10px;
        }
      }
    }
  }
}