$images: (batthern, cubes, escheresque_ste, gridme, noisy_grid, random_grey_variations, tex2res4, triangular, bo_play_pattern, cutcube, gplaypattern, hexellence, purty_wood, retina_wood, tileable_wood_texture, bright_squares, diamond_upholstery, graphy, inflicted, pyramid, struckaxiom, tiny_grid);

section.pattern-block {
  height: 250px;

  @each $image in $images {
    &.#{$image} {
      @include background-pattern($image);
    }
  }

  h1 {
    text-align: center;
    font-size: 48px;
    color: #fff;
    text-shadow: 0 1px 4px #999;
    padding-top: 100px;
  }
}