body {
  background: #f0f0f0;
  overflow-x: hidden;
}

.pusher {
  padding: 0 0 0 $sidebar-width;
}

div, span, p, a, b {
  font-family: 'Raleway', 'Helvetica Neue', 'Lato', sans-serif;
}

code, pre {
  font-family: 'Source Code Pro', 'Inconsolata', 'Anonymous Pro', monospace;
}