.ui.left.main.sidebar {
  width: $sidebar-width;

  .logo.item {
    padding: 10px;
    font-family: Arvo;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }
}

.ui.icon.menu {
  > .item {
    text-align: left;
  }
}