$sidebar-width: 225px;
$pusher-content-padding: 20px;

// Flat UI Colors
$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peter-river: #3498db;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$sunflower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

// Brand Colors
$facebook: #3b5998;
$forrst: #5b9a68;
$github-blue: #4183c4;
$github-grey: #999999;
$github-darkgrey: #666666;
$github-black: #333333;
$github-green: #6cc644;
$github-red: #bd2c00;
$github-orange: #ff9933;
$google-blue: #4285f4;
$google-red: #db4437;
$google-orange: #f4b400;
$google-green: #0f9d58;
$google-grey: #e7e6dd;
$google-plus-red: #dd4b39;
$ifttt-blue: #33ccff;
$ifttt-red: #ff4400;
$ifttt-black: #000000;
$instagram: #3f729b;
$lastfm: #d51007;
$linkedin-blue: #0976b4;
$linkedin-black: #000000;
$nest-blue: #00afd8;
$nest-grey: #7b858e;
$netflix-red: #e50914;
$netflix-black: #221f1f;
$pandora: #005483;
$pinterest: #cc2127;
$reddit-red: #ff4500;
$reddit-blue: #5f99cf;
$reddit-lightblue: #cee3f8;
$skype: #00aff0;
$soundcloud-orange: #ff8800;
$soundcloud-red: #ff3300;
$spotify: #2ebd59;
$stackoverflow: #fe7a15;
$stumbleupon: #eb4924;
$twitch: #6441a5;
$twitter: #55acee;
$vimeo-black: #162221;
$vimeo-blue: #1ab7ea;
$wunderlist: #2b96f1;
$xbox: #52b043;
$yelp: #af0606;
$youtube: #cd201f;