<h5 class="ui top attached header">
  Digitalocean
</h5>
<div class="ui raised attached loading segment" ng-show="digitaloceanCardLoading">
  <br>
</div>
<table class="ui attached compact table" ng-hide="digitaloceanCardLoading">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Region</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>prex.io</td>
      <td>nyc-3</td>
      <td class="positive">
        <i class="checkmark icon"></i>
      </td>
    </tr>
  </tbody>
</table>